<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.bicycle"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- //地图SDK（包含其搜索功能）需要的基础权限 -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 相册需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 其他权限 短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- 蓝牙权限没有整理 -->
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- Android6.0 蓝牙扫描才需要 -->
    <!-- <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 闪光灯权限 -->
    <uses-permission android:name="andorid.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 分享 -->
    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher.permission.WRITE_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="嘿车"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b32898a2ed85367261e3c2920ed6bd05">
            //开发者申请的key
        </meta-data>

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <!-- 行走路线 -->
        <activity android:name=".WalkRouteCalculateActivity" />
        <!-- 注册 -->
        <activity android:name=".RegisteredActivity" />
        <!-- 钱包 -->
        <activity android:name=".Personal.WalletActivity" />
        <!-- 充值 -->
        <activity android:name=".RechargeActivity" />
        <!-- 个人页面 -->
        <activity android:name=".Personal.InformationActivity" />
        <!-- 旅行 -->
        <activity android:name=".Personal.TripActivity" />
        <!-- 券 -->
        <activity android:name=".Personal.CouponsActivity" />
        <!-- 消息 -->
        <activity android:name=".Personal.MessageActivity" />
        <!-- 自行车问题提交 -->
        <activity android:name=".Personal.Guide.ReportActivity" />
        <!-- HomeActivity -->
        <activity android:name=".HomeActivity" />
        <!-- 当前手机 -->
        <activity android:name=".Personal.Replace.ReplaceNumActivity" />
        <!-- 邀请好友 -->
        <activity android:name=".Personal.InvitationActivity" />

        <service
            android:name="com.sofi.smartlocker.ble.BleService"
            android:enabled="true"
            android:exported="false"
            android:label="BleService">
            <intent-filter android:priority="1000">
                <action android:name="com.sofi.smartlocker.ble.BleService" />
            </intent-filter>
        </service>
        <!-- 用户协议 -->
        <activity android:name=".Personal.yonhuxieyi.YhxyActivity" />
        <!-- 二维码 -->
        <activity
            android:name=".zxing.camera.open.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <!-- 开锁 -->
        <activity android:name=".Kaisuo.KaisuoActivity" />
        <!-- 抽奖 -->
        <activity android:name=".PrizeActivity" />
        <activity
            android:name=".PrizeDialogActivity"
            android:theme="@style/DialogTransparent" />
        <!-- 手动输入车铭牌号 -->
        <activity android:name=".zxing.camera.open.InputActivity" />
        <!-- 搜索 -->
        <activity android:name=".SouSuoActivity" />
        <!-- 修改名字 -->
        <activity android:name=".Personal.XiugaiNameActivity" />
        <!-- 热点问题指南 -->
        <activity android:name=".Personal.Guide.GuideActivity" />
        <!-- 问题反馈 -->
        <activity android:name=".Personal.Guide.CantOpenActivity" />
        <!-- 善良积分 -->
        <activity android:name=".Personal.Shanliangfen.ShanliangActivity" />
        <activity android:name=".KindHistoryActivity" />
        <!-- 关于善良积分 -->
        <activity android:name=".Personal.Shanliangfen.GuizeActivity" />
        <!-- 钱包 -->
        <activity android:name=".Personal.qianbao.QianbaoActivity" />
        <!-- 违章反馈 -->
        <activity android:name=".Personal.Guide.WeitingActivity" />
        <!-- 找不到车 -->
        <activity android:name=".Personal.zhaobudaoche.ZhaobudaocheActivity" />
        <!-- APP指南 -->
        <activity android:name=".AppGuideActivity" />
        <!-- 充值说明 -->
        <activity android:name=".AnnualFeeActivity" />

        <!-- 全部问题 -->
        <activity android:name=".AllProblemActivity" />
        <!-- 举报中心 -->
        <activity android:name=".ReportingCenterActivity" />
        <!-- 行程详情 -->
        <activity android:name=".Personal.TripDetailsActivity" />
        <!-- 预约 -->
        <activity android:name=".SubscribeActivity" />
        <activity android:name=".SubscribeSuccessActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".AssistantActivity" />
        <!-- 投诉 -->
        <activity android:name=".ComplaintsActivity" />
        <!-- 实名认证 -->
        <activity android:name=".Personal.CertificationActivity" />
        <activity android:name=".WebActivity" />
        <!-- 更该电话号 -->
        <activity android:name=".Personal.UpdatePhoneActivity" />

        <!-- 管理员界面 -->
        <!-- 单独车辆维修 -->
        <activity android:name=".manageactivity.RepairBicycleActivity" />
        <!-- 全部车辆维修 -->
        <activity android:name=".manageactivity.AllRepairBicycleActivity" />
        <!-- 车辆信息汇整 -->
        <activity android:name=".manageactivity.CollectInformationActivity" />
        <!-- 车辆信息 -->
        <activity android:name=".manageactivity.BicycleInfoActivity" />
        <!-- 车辆发放 -->
        <activity android:name=".manageactivity.BatchIssueActivity" />
        <activity android:name=".manageactivity.ManageActivity" />

        <!-- 分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="1ea63640cd4e0" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="06902eea963b96714aacfb2874944af2" />
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".testActivity" />
    </application>

</manifest>